<!DOCTYPE html>
<html ng-app='MenuCategoriesApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>assignment-3</title>
  </head>
  <body>
    <h1></h1>

    <div ng-controller='MenuCategoriesController as menu'>
      
      <input type="text" ng-model="menu.searchTerm" >
	  <button ng-click="menu.searchMenuItems();">Narrow It Down For Me!</button>
	  <div>found items:  {{menu.CountFoundItems()}}</div>

	  <h5>{{menu.errorMessage}}</h5>
      <shopping-list 
	  items2="menu.getItems()"
	  on-remove="menu.removeItem(index)"
	  ></shopping-list>
	</div>

  </body>
</html>
